<header class="app-header">
    <mat-toolbar class="header-toolbar">

      <img src="assets/imagens/logo-header.png" alt="Logo header" class="logo" />
  
      <span class="spacer"></span>
  
      <!-- Botão de menu hambúrguer responsivo -->
      <button mat-icon-button (click)="menuAberto = !menuAberto" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
  
      <!-- Menu responsivo -->
      <div class="menu-opcoes" [class.aberto]="menuAberto">
        
  
        <!--<button *ngIf="!isLoggedIn()" mat-button (click)="goToRegister()">
          <mat-icon>person_add</mat-icon> CADASTRE-SE
        </button>
        -->

        <!--Categorias-->

        <button *ngIf="isLoggedIn()" mat-button [matMenuTriggerFor]="menuCategorias">
          <mat-icon>inventory_2</mat-icon> Categorias
        </button>

        <mat-menu #menuCategorias="matMenu">
          <button mat-menu-item [routerLink]="'/categorias'">
            <mat-icon>list</mat-icon>
            <span>Listar</span>
          </button>
          <button mat-menu-item [routerLink]="'/categorias/cadastrar'">
            <mat-icon>add</mat-icon>
            <span>Cadastrar</span>
          </button>
        </mat-menu>

        <!--Produtos-->

        <button *ngIf="isLoggedIn()" mat-button [matMenuTriggerFor]="menuProdutos">
          <mat-icon>inventory_2</mat-icon> Produtos
        </button>

        <mat-menu #menuProdutos="matMenu">
          <button mat-menu-item [routerLink]="'/produtos'">
            <mat-icon>list</mat-icon>
            <span>Listar</span>
          </button>
          <button mat-menu-item [routerLink]="'/produtos/cadastrar'">
            <mat-icon>add</mat-icon>
            <span>Cadastrar</span>
          </button>
        </mat-menu>

        <!--Relatorios-->

        <button *ngIf="isLoggedIn()" mat-button [matMenuTriggerFor]="menuRelatorios">
          <mat-icon>insert_chart</mat-icon> Relatórios
        </button>

        <mat-menu #menuRelatorios="matMenu">
          <button mat-menu-item [routerLink]="'/relatorio-vendas'">
            <mat-icon>list</mat-icon> Pedidos Finalizados
          </button>
        </mat-menu>


        <button *ngIf="!isLoggedIn()" mat-button (click)="goToLogin()">
          <mat-icon>login</mat-icon> LOGIN
        </button>
  
        <!--
        <button *ngIf="isLoggedIn()" mat-button [routerLink]="'/carrinho'">
          <mat-icon>shopping_cart</mat-icon>
          Ver Carrinho
        </button>
        -->

        <button *ngIf="isLoggedIn()" mat-button (click)="logout()">
          <mat-icon>logout</mat-icon> SAIR
        </button>

        <span *ngIf="isLoggedIn()" class="user-welcome">
          Bem-vindo(a), {{ userName }}!
        </span>

      </div>

    </mat-toolbar>
  </header>
  